/target
/classes
/checkouts
profiles.clj
*.class
/.lein-*
/.nrepl-port
*.iml
/.idea

.shadow-cljs
node_modules/
resources/public/js/compiled/
resources/public/css/compiled
**/.DS_Store
.clj-kondo
resources/git-version.edn

